div {
  background: orange;
  padding: 10px 30px;
  font-family: "Noto Sans JP", sans-serif;
}

h1 {
  background: red;
  margin: 20px;
  border: 2px solid white;
  text-align: center;
  padding: 40px;
  width: 400px;
  height: 100px;
  font-size: 40px;
  font-weight: 100;
}

h3 {
  color: #bc1288;
  background: lightblue;
  margin: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 100px;
}

p,
ol {
  margin: 0;
}

#nevImputMezo {
  background: pink;
}

li {
  background: lime;
}

citrom {
  background: yellow;
}